* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Electrolize", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background: linear-gradient(#e66465, #9198e5);
  color: white;
}

i,
svg {
  pointer-events: none;
}

select {
  padding: 1rem;
  margin-left: 1rem;
}

.sequencer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: #a0d3e0;
}

.snare-pad {
  background: #e0a0d0;
}

.hihat-pad {
  background: #85ff81;
}

.pad {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pad:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.kick-pad.active {
  background: #2fbde0;
}

.snare-pad.active {
  background: #df48b9;
}

.hihat-pad.active {
  background: #27fc20;
}

.kick-track,
.snare-track,
.hihat-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 1rem;
  border: none;
  background: #5f5f5f;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  border-radius: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background: linear-gradient(#e66465, #9198e5);
  border: 1px solid white;
}

.controls button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 2px solid white;
}

.mute.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#c7c7c7));
  background: linear-gradient(#646464, #c7c7c7);
}

.play {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 10rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background: linear-gradient(#e66465, #9198e5);
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 3rem;
  font-family: "Electrolize", sans-serif;
}

.play.active {
  background: #919191;
}

.play:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 2px solid white;
}

@-webkit-keyframes playTrack {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes playTrack {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */